@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Lobster&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IM Fell English', serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 70vh; */
    background: #f8f8f8;
}

.chat_section{
    width: 800px;
    max-width: 90%;
    background: #fff;
}

.brand{
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}

.brand h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}

.message_area{
    height: 480px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}

textarea{
    border-radius: 50px;
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #fbfbfb;
}

.message{
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}

.incoming{
    color: #fff;
    background: #464649;
    height: fit-content;
    margin-right: auto;
}

.outgoing{
    background: #25532b;
    color: #fff;
    margin-left: auto;
    height: fit-content;
}

.message h4{
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}